AGoTDB/AGotDBTestProject/bin/
AGoTDB/AGotDBTestProject/obj/
AGoTDB/bin/
AGoTDB/AGoTDB.v11.suo
AGoTDB/obj/
GenericDB/bin/
GenericDB/GenericDBTestProject/bin/
GenericDB/GenericDBTestProject/obj/
GenericDB/obj/
